

/*
 * Footer
 */

/* -- Quadros Section -- */

.quadros-section {
	position: relative;
	background-color: #B5B5B5;
	font-size: 0;
}

.quadros-section .quadros {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 0;
	padding-top: 50.5%;
	font-size: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-image: url( '/media/quadros-photo.jpg?ver=07092019' );
}

.quadros-section .name-tag {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-size: 0;
}

.quadros-section .name-tag .tag {
	position: absolute;
	padding: 15px 5px;
	width: 200px;
	height: auto;
	color: var(--light);
	text-align: center;
	background-color: var(--dark);
	transform: translateX(-50%);
}

.quadros-section .name-tag .tag .h3 {
	font-style: italic;
	font-size: 2.2rem;
}

.quadros-section .name-tag .tag .label {
	display: block;
	color: var(--green);
	font-size: 1.4rem;
}

body.buy .quadros-section .name-tag .tag .label  { color: var(--green); }
body.build .quadros-section .name-tag .tag .label{ color: var(--off-green); }
body.book .quadros-section .name-tag .tag .label { color: var(--red); }
body.host .quadros-section .name-tag .tag .label { color: var(--magenta); }


.quadros-section .name-tag .tag:nth-child(1) {
	left: 27%;
	bottom: 10%;
}

.quadros-section .name-tag .tag:nth-child(2) {
	left: 50%;
	bottom: 10%;
}

.quadros-section .name-tag .tag:nth-child(3) {
	left: 73%;
	bottom: 10%;
}

@media ( max-width: 1039px ) {
	.quadros-section .name-tag .tag {
		padding: 10px 5px;
		width: 150px;
	}

	.quadros-section .name-tag .tag .h3 {
		font-size: 1.7rem;
	}

	.quadros-section .name-tag .tag .label {
		font-size: 1.2rem;
	}
}

@media ( max-width: 639px ) {

	.quadros-section .quadros {
		padding-top: 62.5%;
		background-image: url( '/media/quadros-photo-mobile.jpg?ver=07092019' );
	}

	.quadros-section .name-tag .tag {
		padding: 5px 5px;
		width: 90px;
	}

	.quadros-section .name-tag .tag .h3 {
		font-size: 1.5rem;
	}

	.quadros-section .name-tag .tag .label {
		display: none;
	}

	.quadros-section .name-tag .tag:nth-child(1) {
		left: 20%;
		bottom: 5%;
	}

	.quadros-section .name-tag .tag:nth-child(2) {
		left: 50%;
		bottom: 5%;
	}

	.quadros-section .name-tag .tag:nth-child(3) {
		left: 80%;
		bottom: 5%;
	}
}







/* -- Address Section -- */
.address-section {
	padding-top: 6rem;
	padding-bottom: 6rem;
	background-color: var(--green);
}

body.buy .address-section   { background-color: var(--green); }
body.build .address-section { background-color: var(--off-green); }
body.book .address-section  { background-color: var(--red); }
body.host .address-section  { background-color: var(--magenta); }

.address-section .title {
	color: var(--light);
	text-transform: uppercase;
	margin-top: 69px;
}

.address-section .logo-address {
	margin-left: -44.5%;
}

.address-section .address {
	padding-top: 2rem;
	font-size: 1.5rem;
}

@media ( max-width: 1039px ) {
	.address-section {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}
	.address-section .title {
		margin-top: 35px;
	}
}

@media ( max-width: 639px ) {
	.address-section {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}

	.address-section .logo-address {
		margin-left: 0;
	}

	.address-section .title {
		margin-top: 25px;
	}
}








/* -- Footer Section -- */
.footer-section {
	padding-top: 6rem;
	padding-bottom: 6rem;
	color: var(--light);
	background-color: var(--dark);
}

.footer-section .title {
	text-transform: uppercase;
	margin-bottom: 3rem;
}

.footer-section .quick-links .link {
	color: var(--green);
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	font-size: 1.6rem;
	margin-bottom: 0.5rem;
}

body.buy .footer-section .quick-links .link   { color: var(--green); }
body.build .footer-section .quick-links .link { color: var(--off-green); }
body.book .footer-section .quick-links .link  { color: var(--red); }
body.host .footer-section .quick-links .link  { color: var(--magenta); }

@media ( max-width: 1039px ) {
	.footer-section {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}
}

@media ( max-width: 639px ) {
	.footer-section {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}

	.footer-section .title {
		margin-bottom: 1rem;
	}

	.footer-section .video-embed {
		margin-bottom: 5rem;
	}
}



/* -- Version Section -- */

.version-section {
	background-color: var(--dark);
}

.version-section .container{
	padding: 1.6rem;
	color: #777777;
	font-size: 1.2rem;
	line-height: 1;
	text-align: center;
}





