
/*
 * Header
 */


/* -- Landing Section -- */

.landing-section {
	position: relative;
	color: var(--light);
	background-color: var(--dark);
	font-size: 0;
	z-index: 1
}

.landing-section .landing-image {
	position: relative;
	z-index: 1;
	display: inline-block;
	width: 100%;
	height: 90vh;
	min-height: 800px;
	max-height: 1500px;
	background-image: url( '/media/landing-desktop.jpg?ver=07092019' ), url( '/media/landing.jpg?ver=07092019' );
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.landing-section .landing {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	padding-top: 15rem;
}

.landing-section .landing .logo {
	width: 22rem;
	margin-bottom: 3rem;
}

.landing-section .landing .title {
	line-height: 1.1;
	text-transform: uppercase;
	/*margin-bottom: 1rem;*/
	letter-spacing: 0.1rem;
	text-shadow: 0.5px 0.5px 0.5px #617F90;
}

.landing-section .landing .description {
	text-transform: uppercase;
	font-size: 2.1rem;
	text-shadow: 0.5px 0.5px 0.5px #617F90;
}

@media ( max-width: 1440px ) {
	.landing-section .landing-image {
		height: 90vh;
		min-height: 640px;
		max-height: 1240px;
	}

	.landing-section .landing { padding-top: 10rem;}

	.landing-section .landing .logo {
		width: 15rem;
	}

	.landing-section .landing .description {
		font-size: 1.6rem;
	}
}

@media ( max-width: 1039px ) {
	.landing-section .landing-image {
		height: 90vh;
		background-image: url( '/media/landing-ipad.jpg?ver=07092019' ), url( '/media/landing.jpg?ver=07092019' );
	}

	.landing-section .landing .title {
		text-shadow: 1.5px 1.5px 1.5px #617F90;
	}
	.landing-section .landing .description {
		text-shadow: 1.5px 1.5px 1.5px #617F90;
	}
}

@media ( max-width: 639px )  {
	.landing-section {
		padding-top: 50px;
	}

	.landing-section .landing-image {
		min-height: 0;
		height: 480px;
		background-image: url( '/media/landing-mobile.jpg?ver=07092019' ), url( '/media/landing.jpg?ver=07092019' );
	}


	.landing-section .landing {
		top: 50px;
		padding-top: 3rem;
	}
	.landing-section .landing .title { margin-bottom: 0; }

	.landing-section .landing .logo { display: none; }
	.landing-section .landing .description {
		font-size: 1.05rem;
	}
}

@media ( max-width: 400px )  {
	.landing-section .landing-image { height: 380px; }
}









/* -- Navigation Section -- */

.navigation-section {
	position: relative;
	z-index: 2;
}

.navigation-section .logo-mobile,
.navigation-section .menu-button { display: none; }

.navigation-section .navigation {
	position: relative;
	margin-top: -7.5rem;
	font-size: 0;
}

.navigation-section .navigation .nav-button {
	position: relative;
	z-index: 1;
	display: inline-block;
	vertical-align: top;
	width: 25%;
	/*height: 15rem;*/
	overflow: hidden;
	padding-top: 2.8rem;
	padding-bottom: 3.2rem;
	color: var(--light);
	font-style: italic;
	line-height: 1.4;
	text-align: center;
	text-decoration: none;
	background-color: var(--dark);
	-webkit-transition: -webkit-transform .3s cubic-bezier(0.35, 0.18, 0.56, 1.46), color 0.2s ease-out;
	transition: transform .3s cubic-bezier(0.35, 0.18, 0.56, 1.46), color 0.3s ease-out;
}

.navigation-section .navigation .nav-button .label {
	font-style: normal;
	font-size: 1.5rem;
	padding-top: 1rem;
	text-transform: uppercase;
	pointer-events: none;
}

.navigation-section .navigation .nav-button:not(.active):hover { color: #B5B5B5; }

.navigation-section .navigation .nav-button[data-page-id="buy"]:not(.active):hover .label   { color: var(--green); }
.navigation-section .navigation .nav-button[data-page-id="build"]:not(.active):hover .label { color: var(--off-green); }
.navigation-section .navigation .nav-button[data-page-id="book"]:not(.active):hover .label  { color: var(--red); }
.navigation-section .navigation .nav-button[data-page-id="host"]:not(.active):hover .label  { color: var(--magenta); }



.navigation-section .navigation .nav-button:after {
	content: '';
	size: block;
	position: absolute;
	width: 0.2rem;
	top: 3rem;
	right: 0;
	bottom: 3rem;
	background-color: var(--green);
}

body.buy .navigation-section .navigation .nav-button:after   { background-color: var(--green); }
body.build .navigation-section .navigation .nav-button:after { background-color: var(--off-green); }
body.book .navigation-section .navigation .nav-button:after  { background-color: var(--red); }
body.host .navigation-section .navigation .nav-button:after  { background-color: var(--magenta); }


.navigation-section .navigation .nav-button:last-child:after { display: none; }

.navigation-section .navigation .nav-button.active {
	background-color: var(--green);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	z-index: 2;
}

body.buy .navigation-section .navigation .nav-button.active   { background-color: var(--green); }
body.build .navigation-section .navigation .nav-button.active { background-color: var(--off-green); }
body.book .navigation-section .navigation .nav-button.active  { background-color: var(--red); }
body.host .navigation-section .navigation .nav-button.active  { background-color: var(--magenta); }


@media ( max-width: 1440px ) {
	.navigation-section .navigation .nav-button {
		padding-top: 2.6rem;
		padding-bottom: 3.0rem;
	}
}

@media ( max-width: 1039px ) {
	.navigation-section .navigation {
		margin-top: -6.5rem;
	}

	.navigation-section .navigation .nav-button .label {
		font-size: 1.2rem;
	}
}

@media ( max-width: 639px ) {
	.navigation-section {
		background-color: var(--dark);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 50px;
		z-index: 3;
		clear: both;
	}

	.navigation-section .container {
		max-width: none;
	}

	.navigation-section .logo-mobile {
		position: relative;
		display: inline-block;
		width: 176px;
		height: auto;
		margin-top: 1rem;
		margin-left: 2rem;
		float: left;
	}



	.navigation-section .menu-button {
		position: relative;
		display: inline-block;
		cursor: pointer;
		width: 30px;
		height: 30px;
		margin-top: 1rem;
		margin-right: 2rem;
		padding: 8px 5px;
		float: right;
		z-index: 2;
	}

	.navigation-section .menu-button .line {
		display: block;
		width: 100%;
		height: 2px;
		background-color: var(--light);
		margin-bottom: 4px;
		transition: .3s ease-out;
		opacity: 0.7;
	}
	.navigation-section .menu-button .line:last-child { margin-bottom: 0;}

	.navigation-section .menu-button.close .line:nth-child(2) {
		transform: translateX(-200%);
		opacity: 0;
	}
	.navigation-section .menu-button.close .line:nth-child(1) {
		transform: rotate(45deg) translateX(4.3px) translateY(4.3px);
	}
	.navigation-section .menu-button.close .line:nth-child(3) {
		transform: rotate(-45deg) translateX(4.3px) translateY(-4.3px);
	}

	.navigation-section .navigation {
		display: inline-block;
		width: auto;
		position: absolute;
		right: 2rem;
		margin-top: 5rem;
		-webkit-transform-origin: top right;
		transform-origin: top right;
		-webkit-transform: translateY(-120%);
		transform: translateY(-120%);
		-webkit-transition: .3s cubic-bezier(0.35, 0.18, 0.56, 1.46);
		transition: .3s cubic-bezier(0.35, 0.18, 0.56, 1.46);
		opacity: 0
	}

	.navigation-section .navigation.show {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}

	.navigation-section .navigation .nav-button:after {
		top: auto;
		bottom: 0;
		left: 1rem;
		right: 1rem;
		width: auto;
		height: 0.2rem;
	}

	.navigation-section .navigation .nav-button {
		display: block;
		width: 100%;
		padding: 0;
		height: auto;
		padding: 2rem;
	}

	.navigation-section .navigation .nav-button.active {
		box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.25);
	}

	.navigation-section .navigation .nav-button .label {
		font-size: 1.3rem;
	}
}













/*
 * Wipe Out
 */

.wipe_out {}

.wipe_line {
	display: inline-block;
	overflow: hidden;
}

.wipe {
	display: inline-block;
	/*transform: translateX(100%);*/
}

.wipe_out .wipe_line .wipe.wipe_bottom {
	animation: wipeout_wipe_bottom 2s;

}

.wipe_out .wipe_line:nth-of-type(1) .wipe.wipe_bottom {
	/*animation: wipeout_wipe_bottom 2s;*/
	animation-delay: -1s;
}

.wipe_out .wipe_line:nth-of-type(2) .wipe.wipe_bottom {
	/*animation: wipeout_wipe_bottom 2s;*/
	animation-delay: -0.75s;
}

.wipe_out .wipe_line:nth-of-type(3) .wipe.wipe_bottom {
	/*animation: wipeout_wipe_bottom 2s;*/
	animation-delay: -0.5s;
}

.wipe_out .wipe.wipe_left {
	animation: wipeout_wipe_left 3s;
}


@keyframes wipeout_wipe_bottom {
	0%, 50% {
		transform: translateY(110%);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes wipeout_wipe_left {
	0%, 50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

























