/* -- intro section -- */

.intro-section .checklist-row {
	margin-top: 7rem;
}

.intro-section .checklist {
	text-align: right;
}

.intro-section .checklist .list-item {
	position: relative;
	font-size: 1.8rem;
	clear: both;
}

.intro-section .checklist .checkbox {
	position: relative;
	display: inline-block;
	margin-top: 11px;
	margin-left: 15px;
	width: 12px;
	height: 12px;
	float: right;
	border: solid 2px var(--dark);
}

.intro-section .checklist .checkbox:before,
.intro-section .checklist .checkbox:after {
	display: inline-block;
	content: '';
	position: absolute;
	background-color: var(--green);
	height: 3px;
	transform-origin: left center;
	transition: transform .4s;
}

body.buy .intro-section .checklist .checkbox:before,
body.buy .intro-section .checklist .checkbox:after   { background-color: var(--green); }
body.build .intro-section .checklist .checkbox:before,
body.build .intro-section .checklist .checkbox:after { background-color: var(--off-green); }
body.book .intro-section .checklist .checkbox:before,
body.book .intro-section .checklist .checkbox:after  { background-color: var(--red); }
body.host .intro-section .checklist .checkbox:before,
body.host .intro-section .checklist .checkbox:after  { background-color: var(--magenta); }

.intro-section .checklist .checkbox:before {
	top: 0;
	left: 0;
	width: 10px;
	transform: rotate(45deg) translateY(0) translateX(0) scaleX(0);
	z-index: 2;
}

.intro-section .checklist .checkbox:after {
	top: 0;
	left: 0;
	width: 20px;
	transform: rotate(-45deg) translateY(8px) translateX(-1px) scaleX(0);
	transition-delay: .2s;
	z-index: 1;
}


.intro-section .checklist.js_revealDone .list-item:nth-child(1) .checkbox:before { transition-delay: 0.0s; }
.intro-section .checklist.js_revealDone .list-item:nth-child(1) .checkbox:after  { transition-delay: 0.2s; }

.intro-section .checklist.js_revealDone .list-item:nth-child(2) .checkbox:before { transition-delay: 0.4s; }
.intro-section .checklist.js_revealDone .list-item:nth-child(2) .checkbox:after  { transition-delay: 0.6s; }

.intro-section .checklist.js_revealDone .list-item:nth-child(3) .checkbox:before { transition-delay: 0.8s; }
.intro-section .checklist.js_revealDone .list-item:nth-child(3) .checkbox:after  { transition-delay: 1.0s; }

.intro-section .checklist.js_revealDone .list-item:nth-child(4) .checkbox:before { transition-delay: 1.2s; }
.intro-section .checklist.js_revealDone .list-item:nth-child(4) .checkbox:after  { transition-delay: 1.4s; }

.intro-section .checklist.js_revealDone .list-item:nth-child(5) .checkbox:before { transition-delay: 1.6s; }
.intro-section .checklist.js_revealDone .list-item:nth-child(5) .checkbox:after  { transition-delay: 1.8s; }

.intro-section .checklist.js_revealDone .list-item:nth-child(6) .checkbox:before { transition-delay: 2.0s; }
.intro-section .checklist.js_revealDone .list-item:nth-child(6) .checkbox:after  { transition-delay: 2.2s; }

.intro-section .checklist.js_revealDone .list-item:nth-child(7) .checkbox:before { transition-delay: 2.4s; }
.intro-section .checklist.js_revealDone .list-item:nth-child(7) .checkbox:after  { transition-delay: 2.6s; }

.intro-section .checklist.js_revealDone .list-item:nth-child(8) .checkbox:before { transition-delay: 2.8s; }
.intro-section .checklist.js_revealDone .list-item:nth-child(8) .checkbox:after  { transition-delay: 3.0s; }



.intro-section .checklist.js_revealDone .checkbox:before{
	transform: rotate(45deg) translateY(0) translateX(0) scaleX(1);
}
.intro-section .checklist.js_revealDone .checkbox:after {
	transform: rotate(-45deg) translateY(8px) translateX(-1px) scaleX(1);
	box-shadow: 0 0 1px 2px var(--off-light);
}


@media ( max-width: 639px )  {

	.intro-section .checklist-row {
		margin-top: 3rem;
	}

	.intro-section .checklist {
		text-align: left;
		width: 200px;
		margin: 0 auto;
	}

	.intro-section .checklist .checkbox {
		margin-left: 0;
		margin-right: 15px;
		float: none;
	}

	.intro-section .checklist .checkbox:before {
		top: 0;
		left: 0;
		width: 10px;
		transition: none;
		transform: rotate(45deg) translateY(0) translateX(0) scaleX(1);
		z-index: 2;
	}

	.intro-section .checklist .checkbox:after {
		top: 0;
		left: 0;
		width: 20px;
		transition: none;
		transform: rotate(-45deg) translateY(8px) translateX(-1px) scaleX(1);
		transition-delay: .2s;
		z-index: 1;
		box-shadow: 0 0 1px 2px var(--off-light);
	}

	.intro-section .checklist-row .essentials {
		margin-top: 4rem;
		text-align: center;
	}
}

