.section-video {
	position: relative;
	display: inline-block;
	width: 100%;
	height: auto;
	background-color: var(--dark);
}

.video-overlay {
	position: absolute;
	z-index: 3;
	
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	width: 100%;
	height: auto;

	color: var(--light);
	background-color: rgba(1,17,38,0.5);

	-ms-box-orient: horizontal;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;

	-webkit-align-items: flex-end; 
	align-items: flex-end; 
}

.video-overlay .caption {
	color: var(--light);
	line-height: 1.4;
	margin-bottom: 5%;
}

@media ( max-width: 639px ) {
	.section-video { display: none; }
}