
/*
 * Book
 */


@media ( max-width: 1039px ) {
}

@media ( max-width: 639px )  {
}

@media ( max-width: 400px )  {
}


body.book .intro-section .title {
	color: var(--red);
}

body.book .contact-section .contact-card {
	background-color: var(--red);
}

body.book .contact-section .or span {
	background-color: var(--red);
}



/* -- getaway section -- */

.getaway-section {
	padding-top: 8rem;
	/*padding-bottom: 8rem;*/
	padding-bottom: 15rem;
	color: var(--light);
	background-color: var(--dark);
}

.getaway-section .highlight-line {
	display: inline-block;
	margin: 2rem 0;
}

.getaway-section .description {
	line-height: 1.9;
}


@media ( max-width: 1039px ) {
	.getaway-section {
		padding-top: 6rem;
		/*padding-bottom: 6rem;*/
		padding-bottom: 10rem;
	}

	.getaway-section .getaway-video {
		margin-bottom: 4rem;
	}
}

@media ( max-width: 639px ) {
	.getaway-section {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}
}


/* -- weekend video section -- */

.weekend-video-section {
	position: relative;
	font-size: 0;
	z-index: 1;
	background-size: cover;
	background-repeat: no-repeat;
}

.weekend-video-section .video-overlay {
	background: linear-gradient( -165deg, rgba(214,64,71,0.35), var(--red) 75%);
}

@media ( max-width: 639px ) {
	.weekend-video-section {
		padding-top: 75%;
		background-image: url('/media/video-thumb-3.jpg?ver=07092019');
	}
}

