
/*
 * Host
 */


@media ( max-width: 1040px ) {
}

@media ( max-width: 640px )  {
}

@media ( max-width: 400px )  {
}


body.host .intro-section .title {
	color: #A271CE;
}

body.host .contact-section .contact-card {
	background-color: #A271CE;
}

body.host .contact-section .or span {
	background-color: #A271CE;
}



body.host .intro-section {
	padding-bottom: 15rem;
}

@media ( max-width: 1040px ) {
	body.host .intro-section {
		padding-bottom: 10rem;
	}
}

@media ( max-width: 640px )  {
	body.host .intro-section {
		padding-bottom: 4rem;
	}
}
