
/*
 * Host
 */


@media ( max-width: 1039px ) {
}

@media ( max-width: 639px )  {
}

@media ( max-width: 400px )  {
}



.host .intro-section {
	padding-bottom: 15rem;
}

.host .intro-section .title {
    color: var(--magenta);
}

@media ( max-width: 1039px ) {
	.host .intro-section {
		padding-bottom: 10rem;
	}
}

@media ( max-width: 639px )  {
	.host .intro-section {
		padding-bottom: 4rem;
	}
}
